
 @font-face {
    font-family:"helveticaNow" ;
    src: url("./assets/font/HelveticaNowDisplay-Medium.ttf");
 }

 *{
    font-family: "helveticaNow";
 }

 .item-carousel{
    all: unset;
    width: 100vw;
    flex-shrink: 0;
    flex-grow: 0;
    height: 100vh;
 }


 @media (max-width: 799px) {

   .line-mask {
     clip-path: none !important;
     transform: none !important;
   }

   .header__link {
     transform: none !important;
     opacity: 1 !important;
     visibility: visible !important;
   }
 }